{% extends 'pengaduan/base.html' %}
{% block title %}Beranda - Nestracare{% endblock %}
{% load static %}

{% block content %}
    <!-- HERO SECTION -->
    <section id="home" class="hero">
        <div class="left-hero">
            <h1>Sistem Layanan Pengaduan & Aspirasi SMKN 1 Tirtajaya</h1>
            <p>Laporkan kepada kami jika ada Pengaduan atau pun Aspirasi yang dapat menjadi langkah awal untuk kita menjadi lebih baik lagi.</p>
            <a href="{% url 'pengaduan' %}">Buat Pengaduan <i class="fa-solid fa-arrow-right"></i></a>
        </div>
        <div class="right-hero">
            <img src="{% static 'pengaduan/image/tj.png' %}" alt="hero-img">
        </div>
    </section>

    <!-- ABOUT SECTION -->
    <section id="about" class="about">
        <div class="about-wrapper">
            <h1>Untuk Apa Platform Ini Dibuat?</h1>
            <p>Melalui penyediaan saluran pengaduan untuk kasus bullying, kritik, saran, dan keluhan lainnya, platform ini bertujuan untuk meningkatkan kesadaran tentang masalah-masalah yang mungkin ada di sekolah, meningkatkan transparansi dalam penanganannya, membangun komunikasi yang efektif antara pengguna dan pihak administrasi sekolah, serta memberikan suara pada semua anggota sekolah untuk berkontribusi dalam meningkatkan kualitas pendidikan dan kehidupan sekolah secara keseluruhan.</p>
        </div>
    </section>

    <!-- ALUR SECTION -->
    <section id="alur" class="alur">
        <h1>Alur Pengaduan</h1>
        <div class="alur-flex">
            <div class="box">
                <i class="fa-solid fa-hand"></i>
                <h3>1. Niat</h3>
                <p>Masuk ke sistem ini dengan niat untuk kebaikan di lingkungan sekolah.</p>
            </div>
            <div class="box">
                <i class="fa-regular fa-paper-plane"></i>
                <h3>4. Kirim Pengaduan</h3>
                <p>Kirim pengaduan agar nantinya bisa dicek dan ditanggapi oleh petugas dari sekolah.</p>
            </div>
            <div class="box">
                <i class="fa-solid fa-plus"></i>
                <h3>2. Buat Pengaduan</h3>
                <p>Klik tombol "Buat Pengaduan" yang tersedia di halaman ini.</p>
            </div>
            <div class="box">
                <i class="fa-regular fa-circle-check"></i>
                <h3>5. Tunggu Konfirmasi</h3>
                <p>Jika laporan sudah dicek dan ditanggapi, pemberitahuan akan dikirimkan melalui email yang digunakan.</p>
            </div>
            <div class="box">
                <i class="fa-regular fa-pen-to-square"></i>
                <h3>3. Lengkapi Formulir</h3>
                <p>Isi semua form sesuai tempat yang sudah disediakan dengan data yang benar.</p>
            </div>
            <div class="box">
                <i class="fa-regular fa-bell"></i>
                <h3>6. Notifikasi</h3>
                <p>Pengguna yang melaporkan akan mendapat pemberitahuan, menjamin transparansi dan kepercayaan.</p>
            </div>
        </div>
    </section>

    <!-- FAQ SECTION -->
    <section id="faq" class="faq">
        <h1>Frequently Asked Questions</h1>
        <div class="faq-wrapper">
          <div class="question">Apa itu Nestracare?</div>
          <div class="answer">Nestracare adalah sebuah platform daring yang menyediakan saluran untuk melaporkan kasus bullying, memberikan kritik dan saran untuk sekolah, serta mengajukan keluhan lainnya.</div>
        </div>
        <div class="faq-wrapper">
            <div class="question">Siapa yang dapat menggunakan Nestracare?</div>
            <div class="answer">Semua anggota komunitas sekolah, termasuk siswa, guru, staf, dan orangtua, dapat menggunakan Nestracare untuk melaporkan insiden, memberikan masukan, dan mengajukan keluhan.</div>
        </div>
        <div class="faq-wrapper">
          <div class="question">Apakah saya dapat melaporkan secara anonim?</div>
          <div class="answer">Ya, Anda dapat memilih untuk melaporkan secara anonim jika Anda merasa tidak nyaman memberikan identitas Anda. Namun, memberikan identitas Anda dapat membantu memfasilitasi investigasi lebih lanjut.</div>
        </div>
        <div class="faq-wrapper">
          <div class="question">Bagaimana cara memantau status pengaduan atau keluhan yang saya ajukan?</div>
          <div class="answer">Anda dapat melacak status pengaduan atau keluhan Anda melalui dashboard Anda, di mana Anda akan melihat apakah pengaduan sedang ditinjau, dalam investigasi, atau telah ditindaklanjuti.</div>
        </div>
        <div class="faq-wrapper">
          <div class="question">Apakah Nestracare memastikan kerahasiaan informasi pengguna?</div>
          <div class="answer">Ya, kami menjaga kerahasiaan informasi pengguna dengan serius. Anda dapat memilih untuk melaporkan secara anonim dan informasi pribadi Anda akan dijaga sesuai dengan kebijakan privasi kami.</div>
        </div>
        <div class="faq-wrapper">
            <div class="question">Bagaimana jika saya memiliki pertanyaan atau masalah teknis terkait penggunaan Nestracare?</div>
            <div class="answer">Anda dapat hubungi email fjaringalzulizar@gmail.com</div>
          </div>
    </section>

{% endblock %}